@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

body {
    font-family: 'Assistant', sans-serif;
}

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}